@import 'semantic-ui';

.chatbox{
    height: 450px;
}

#messages {
    height: 15em;
    overflow: auto;
    
}

// .input {
//     button{
//         display: none;
//     }
// }
#page{
	background-image: asset-url('photo.jfif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px; 
    position: relative;
}
#page2{
    background-image: asset-url('photo2.jfif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px; 
    position: relative;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    left: 0;
    
}

#orange{
    color: black;
}
#box1, #box2, #box3, #first-box{
    background: transparent;
}