
<div class="ui inverted vertical footer segment " id="footer">
  <div class="ui container">
  Copyright &copy; <%= link_to "Gabriel Pop", "http://localhost:3000/login",class: "text-white" %>
  </div>
</div>
